<a href="https://colab.research.google.com/github/Gajendra182003/Big-Data-Analysis/blob/main/01_March_2026_Data_Sructures_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Data structure and string.
1.List
2.Tuple
3.Set
4.Dict
-------------------------------------------------------------------------------------------------
5.String

Data Structure:Is capable of storing heterogeneous data and by nature mostly dynamic, but each one has a specialty which one needs to remember.

List:Dynamicity, index-based access, duplicates allowed.
         Maximum used by programmers or users for data manipulation.

Tuple:Similar to a list but static in nature.
           Maximum use by Python for a security feature internally.
	    Created can be overwritten but cannot be changed.

Set:Maximum use for one thing: uniqueness. Cannot handle duplicates; even if duplicates are added, it will only keep unique entries.

Dict:Known for key-to-value mapping, fast in searching, extremely fast in insertion and removal on unique ids.

String:Manipulation is one skill, maximum use when it comes to systems.

In [ ]:
List:
Blank lists can be created using the method or the symbol.
list()   []
-list is dynamic and heterogeneous
 (so support user-defined data types and other data structures in a nested manner.)
 -list this is indexed axis. Positive and negative index is supported.
 - It can be index access and auto-iterated both.
 - It supports slicing.[start:end:step]

In [ ]:
data={}
print(type(data))

<class 'dict'>

In [ ]:
data=set()
print(type(data))

<class 'set'>

In [ ]:
 #-list this is indexed axis. Positive and negative index is supported.
#+ve index
#      0  1  2  3  4  5
data=[10,20,30,40,50,60]
#              -3 -2 -1
#-ve

In [ ]:
 #- It can be index access and auto-iterated both.
data=[10,20,30,40,50,60]
 #indexed access
for index in range(0,len(data),1):
    print(f"at [{index}] we have {data[index]}")

at [0] we have 10
at [1] we have 20
at [2] we have 30
at [3] we have 40
at [4] we have 50
at [5] we have 60

In [ ]:
#auto-iterated both.
for item in data:
    print(item)

10
20
30
40
50
60

In [ ]:
#- It supports slicing.[start:end:step]
#If start not given, default value is 0.
#If step is not given, default value is 1.
#end not given in slicing, default length is taken.
#We start from a given start index, but we will stop on a given end index. The actual loop will run end - 1.
data=[11,22,33,44,55,66,77,88,99]
print(data[3:8])
print(data[:3])#0,3
print(data[7:])#7,8,9...len(list)
print(data[:])
print(data[::-1])#Only temporarily reverses the list
print(f"The OG list:{data}")

[44, 55, 66, 77, 88]
[11, 22, 33]
[88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[99, 88, 77, 66, 55, 44, 33, 22, 11]
The OG list:[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [ ]:
#Four important methods.
sum() which can find total: only works if all data are int or float.
min() which can find minimum: only if all numbers or all alphabets are there.
max() which can find maximum: only if all numbers or all alphabets are there.
len() which can find number of members.
    :only if all numbers or all alphabets are there.

In [ ]:
#data=[77,11,0,22,454,88,111]
data=["fff","aaa","bbb","xxx"]

In [ ]:
min(data)

'aaa'

In [ ]:
max(data)

'xxx'

In [ ]:
sum(data)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
len(data)

4

In [ ]:
data=[11,22,33,44]
item=iter(data)

In [ ]:
print(next(item))

StopIteration:

In [ ]:
data=[]
print(f"data has:{data} total of {len(data)} elements")

data has:[] total of 0 elements

In [ ]:
data.append(input("Enter data:"))
print(f"data has:{data} total of {len(data)} elements")

Enter data:3.1427
data has:['11', '45', 'amar', '3.1427'] total of 4 elements

In [ ]:
data.insert(1,"iyela")
#Insert does not replace but pushes everything back and inserts at a given index.

In [ ]:
print(f"data has:{data} total of {len(data)} elements")

data has:['11', 'iyela', '45', 'amar', '3.1427'] total of 5 elements

In [ ]:
data2=["appu","tappu","chappu"]

In [ ]:
data.append(data2)

In [ ]:
print(f"data has:{data} total of {len(data)} elements")

data has:['11', 'iyela', '45', 'amar', '3.1427', ['appu', 'tappu', 'chappu']] total of 6 elements

In [ ]:
data.pop()#If pop is not given an index, it will remove the last element.

'3.1427'

In [ ]:
data.extend(data2)#We'll add every member of the list as individual entities in the list.

In [ ]:
print(f"data has:{data} total of {len(data)} elements")

data has:['11', 'iyela', '45', 'amar', 'appu', 'tappu', 'chappu'] total of 7 elements

In [ ]:
data.remove("iyela")

In [ ]:
print(f"data has:{data} total of {len(data)} elements")

data has:['11', '45', 'amar', 'appu', 'tappu', 'chappu'] total of 6 elements

In [ ]:
data.index('amarita')

ValueError: 'amarita' is not in list

In [ ]:
#Since index gives an error, it is advisable to use IN before doing this check.
"amrita" in data
#in: in is an operator which will check the existence of given data in a sequence.

False

In [ ]:
data.count("india")

0

In [ ]:
data=[88,33,22,77,55,11]

In [ ]:
sorted(data)
#When sorted is called it will only return a sorted list.
#The original list is not updated or altered.

[11, 22, 33, 55, 77, 88]

In [ ]:
data

[88, 33, 22, 77, 55, 11]

In [ ]:
#in place method:
#methods which will make permanent changes but will not return anything
print(data.sort())

None

In [ ]:
data

[11, 22, 33, 55, 77, 88]

In [ ]:
#in place method:
data.reverse()

In [ ]:
data

[88, 77, 55, 33, 22, 11]

In [ ]:
What is Deep Copy (making an actual copy of data which is independent )
and Shallow Copy(giving alternate ID to the list) in a list?

In [ ]:
#Shallow
data=[11,22,33,44]
d1=data
print(f"data:{data}@{id(data)}  d1:{d1}@{id(d1)}")
d1[0]=d1[0]*100
print(f"data:{data}@{id(data)}  d1:{d1}@{id(d1)}")

data:[11, 22, 33, 44]@135920468339584  d1:[11, 22, 33, 44]@135920468339584
data:[1100, 22, 33, 44]@135920468339584  d1:[1100, 22, 33, 44]@135920468339584

In [ ]:
#Deep
data=[11,22,33,44]
d1=data.copy()
print(f"data:{data}@{id(data)}  d1:{d1}@{id(d1)}")
d1[0]=d1[0]*100
print(f"data:{data}@{id(data)}  d1:{d1}@{id(d1)}")

data:[11, 22, 33, 44]@135920468667584  d1:[11, 22, 33, 44]@135920468660032
data:[11, 22, 33, 44]@135920468667584  d1:[1100, 22, 33, 44]@135920468660032

In [ ]:
#From a given list print the nth smallest element. n given by user
n=int(input("Enter n:"))
data=[88,11,33,22,77,55,8,24,67,98,43]
print(f"{n}th smalles element is:{sorted(data)[n-1]}")
print(f"{sorted(data)}")


#User would give n in the men's script.
#Pass data and n to the function and the function returns the smallest element.

Enter n:4
4th smalles element is:24
[8, 11, 22, 24, 33, 43, 55, 67, 77, 88, 98]

In [ ]:
def smallest_n(data,n):
    return sorted(data)[n-1]
def largest_n(data,n):
    return sorted(data)[::-1][n-1]

In [ ]:
n=int(input("Enter n:"))
data=[88,11,33,22,77,55,8,24,67,98,43]
print(f"{n} smallest element is {smallest_n(data,n)}")
print(f"{n} largest element is {largest_n(data,n)}")
print(f"{sorted(data)}")

Enter n:3
3 smallest element is 22
3 largest element is 77
[8, 11, 22, 24, 33, 43, 55, 67, 77, 88, 98]

In [ ]:
data

[88, 11, 33, 22, 77, 55, 8, 24, 67, 98, 43]

In [ ]:
sorted(data)

[8, 11, 22, 24, 33, 43, 55, 67, 77, 88, 98]

In [ ]:
sorted(data)[::-1][3]

67

In [ ]:
#Nesting of lists. List within a list.
m=[]#1d
m=[[10,20],[30,40,50,60],[70,80,90]]#2d

In [ ]:
for sub_list in m:
    print(sub_list)

[10, 20]
[30, 40, 50, 60]
[70, 80, 90]

In [ ]:
for sub_list in m:
    print(sub_list)
    for element in sub_list:
        print(element)

10
20
30
40
50
60
70
80
90

In [ ]:
#Shopping list application
Insert an element, delete an element, print in list.
While inserting check if it does not exist; then only insert.
While deleting check if it exists then only delete.
Print is a normal printing listing all the elements entered in the shopping list.

In [ ]:
def menu():
    print("\n-----------------------")
    print("   My Shopping List App")
    print("-----------------------")
    print("1.Enter element in List")
    print("2.Delete element in List")
    print("3.Print The List")
    print("4.Exit")
    print("-----------------------")

def add_item(item,shopping_list):
    if item not in shopping_list:
        shopping_list.append(item)
        print(f"{item} added")
    else:
        print(f"{item} already there")
def print_list(shopping_list):
    print("\nItems in list are")
    print("-------------------")
    for index in range(len(shopping_list)):
        print(f"{index+1}.{shopping_list[index]}")

def delete_list(shopping_list):
    print_list(shopping_list)
    item_number=int(input("Enter item number to delete:"))
    if 0<item_number<=len(shopping_list):
        print(f"{shopping_list.pop(item_number-1)} deleted")
    else:
        print(f"{item_number} seems to be out of range.")

In [ ]:
shopping_list=[]
choice=0
while True:
    menu()#We will print all the options of the menu.
    choice=int(input(":"))
    if choice==1:
        item=input("Enter Item to add:")
        add_item(item,shopping_list)
    elif choice==2:
        delete_list(shopping_list)
    elif choice==3:
        print_list(shopping_list)
    elif choice==4:
        print("Thanks for using the system.")
        break
    else:
        print("Invalid option.")

-----------------------
   My Shopping List App
-----------------------
1.Enter element in List
2.Delete element in List
3.Print The List
4.Exit
-----------------------
:1
Enter Item to add:11
11 added

-----------------------
   My Shopping List App
-----------------------
1.Enter element in List
2.Delete element in List
3.Print The List
4.Exit
-----------------------
:2

Items in list are
-------------------
1.11
Enter item number to delete:1
11 deleted

-----------------------
   My Shopping List App
-----------------------
1.Enter element in List
2.Delete element in List
3.Print The List
4.Exit
-----------------------
:2

Items in list are
-------------------
Enter item number to delete:99
99 seems to be out of range.

-----------------------
   My Shopping List App
-----------------------
1.Enter element in List
2.Delete element in List
3.Print The List
4.Exit
-----------------------
:1
Enter Item to add:milk
milk added

-----------------------
   My Shopping List App
-----------------------
1.Enter element in List
2.Delete element in List
3.Print The List
4.Exit
-----------------------
:1
Enter Item to add:bread
bread added

-----------------------
   My Shopping List App
-----------------------
1.Enter element in List
2.Delete element in List
3.Print The List
4.Exit
-----------------------
:1
Enter Item to add:butter
butter added

-----------------------
   My Shopping List App
-----------------------
1.Enter element in List
2.Delete element in List
3.Print The List
4.Exit
-----------------------
:1
Enter Item to add:sugar
sugar added

-----------------------
   My Shopping List App
-----------------------
1.Enter element in List
2.Delete element in List
3.Print The List
4.Exit
-----------------------
:1
Enter Item to add:water
water added

-----------------------
   My Shopping List App
-----------------------
1.Enter element in List
2.Delete element in List
3.Print The List
4.Exit
-----------------------
:3

Items in list are
-------------------
1.milk
2.bread
3.butter
4.sugar
5.water

-----------------------
   My Shopping List App
-----------------------
1.Enter element in List
2.Delete element in List
3.Print The List
4.Exit
-----------------------
:4
Thanks for using the system.

In [ ]:
#Perform clockwise rotation of a content in a list by n elements where n is given by the user.
#sample [10,20,30,40,50]--->2 rotations [20,30,40,50,10]-->[30,40,50,10,20]
#Give me a method which can remove the first element from the list. pop(0)
#Give me a method which will insert an element at the end of the list. :append()

In [ ]:
def rotate_list(data,n):
    for i in range(n):#If start is not given: zero /if step is not given +1.
        temp=data.pop(0)#Removing the first element
        data.append(temp)#Adding data to the end of the list
        print(data)#Print list.

data=[10,20,30,40,50]
n=int(input("Enter number of time rotations needed:"))
rotate_list(data,n)

Enter number of time rotations needed:5
[20, 30, 40, 50, 10]
[30, 40, 50, 10, 20]
[40, 50, 10, 20, 30]
[50, 10, 20, 30, 40]
[10, 20, 30, 40, 50]

In [ ]:
def rotate_list(data,n):
    for i in range(n):#If start is not given: zero /if step is not given +1.
        data.append(data.pop(0))#Adding data to the end of the list #Removing the first element
        print(data)#Print list.

data=[10,20,30,40,50]
n=int(input("Enter number of time rotations needed:"))
rotate_list(data,n)

In [ ]:
Tuple:
Has all properties of a list but once created cannot be altered(static only). Not majorly used by programmers, used internally by Python for security reasons.
()

In [ ]:
data=(11,22,33,44)
tata=[11,22,33,44]

In [ ]:
print(type(data))
print(type(tata))

<class 'tuple'>
<class 'list'>

In [ ]:
for item in data:
    print(item)
for item in tata:
    print(item)

11
22
33
44
11
22
33
44

In [ ]:
tata[0]*=100
for item in tata:
    print(item)

1100
22
33
44

In [ ]:
data[0]*=100
for item in data:
    print(item)

TypeError: 'tuple' object does not support item assignment

In [ ]:
def hobbies(*my_hobbies):#Variable size parameter takes data in a tuple.
    print(f"{type(my_hobbies)} {my_hobbies}")

In [ ]:
hobbies("sketch","code","cook")

<class 'tuple'> ('sketch', 'code', 'cook')

In [ ]:
def ascending(no1,no2):#Function will return numbers in ascending order.
    if no1<no2:
        return no1,no2
    else:
        return no2,no1
#Python is the only language which can return multiple elements from the function to the main but they are packed into a tuple.

In [ ]:
response=ascending(99,2)
print(f"{type(response)}:  {response}")

<class 'tuple'>:  (2, 99)

In [ ]:
data=(10,20,30)
print(data,id(data))
data=(100,200)#This is not an alteration; this is overwriting. A double cannot be altered or overwritten.
print(data,id(data))

(10, 20, 30) 135920466279616
(100, 200) 135920466082432

In [ ]:
#What would happen to the list within a tuple? Would it be static or dynamic?
my_tuple=(10,20,30,[100,200])
#List within a tuple still remains dynamic. List as an entry can grow or shrink even within a tuple.

In [ ]:
my_tuple[3].append(1000)

In [ ]:
my_tuple

(10, 20, 30, [100, 200, 1000])

In [ ]:
when would we do GUI

In [ ]:
data_list=[(11,22,33),(10,20),(100,200)]
#List of tuples
Mostly this concept is very commonly used for pricing codes or certain values which are not to be editable throughout the project.