<a href="https://colab.research.google.com/github/Gajendra182003/BDA_Assignments/blob/main/26_Feb_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name=input()
print(name)

Gajendra
Gajendra

In [ ]:
name=input("Enter your name:")
#By default input will read data in string only.
print(name)

name=input("Enter your name :")
print(name)
name

Enter your name:Gajju
Gajju
Enter your name :Gajju
Gajju

'Gajju'

In [ ]:
x=10
print("hi amar here")
print(x)
#x is 10
print("x is",x)
y=20
#x is 10 and 20 is y
print("x is",x,"and",y,"is y")#book
print(f"x is {x} and {y} is y")#to code

hi amar here
10
x is 10
x is 10 and 20 is y
x is 10 and 20 is y

In [ ]:
#variables/identifiers:
    #Identifier or NAME given to some memory location where data is stored.
    #Ease of Addressing
    #For good programming keep readable identifiers.

In [ ]:
print("line 1")#by default after every print. Python shifts to the new line.
#end='\n'
print("2nd line",end=".")
#By default end is \n, which is a new line, but can be modified for that print only.
print("line number 3")
print("line number 4")

line 1
2nd line.line number 3
line number 4

In [ ]:
name1="amar"
name2="samar"
name3="tamar"
print(name1,name2,name3,sep=" and ")
#sep: it is called separator and it replaces every comma in print.

amar and samar and tamar

In [ ]:
#Assignment takes place from R value to L value.
x=10
y=5+5
z=13-3
#id(): this command provides symbolic reference/logical address or reference to the variable.
print(f"x={x} @{id(x)}\t y={y} @{id(y)}\t z={z} @{id(z)}")
#In order to manage memory more effectively, similar data for different identifiers shares same address space.
x=x+1
print(f"x={x} @{id(x)}\t y={y} @{id(y)}\t z={z} @{id(z)}")
y=y*2
print(f"x={x} @{id(x)}\t y={y} @{id(y)}\t z={z} @{id(z)}")
z=z-5
print(f"x={x} @{id(x)}\t y={y} @{id(y)}\t z={z} @{id(z)}")

x=10 @11654664	 y=10 @11654664	 z=10 @11654664
x=11 @11654696	 y=10 @11654664	 z=10 @11654664
x=11 @11654696	 y=20 @11654984	 z=10 @11654664
x=11 @11654696	 y=20 @11654984	 z=5 @11654504

In [ ]:
#In Python there is no concept of updating a variable value.
#That is simply throwing away the old data and re-assigning to new data.
#It will simply give new memory and send old memory for garbage collection.

In [ ]:
#Chain assignment
a=b=c=10
print(a,b,c)

10 10 10

In [ ]:
#Pair-based assignment
a,b,c=10,3.44,"amar"
#ith variable will be given ith value.
print(a,b,c)

10 3.44 amar

In [ ]:
x,y=10,20
print(f"x={x} y={y}")
z=x
x=y
y=z
print(f"x={x} y={y}")

x=10 y=20
x=20 y=10

In [ ]:
x,y=10,20
print(f"x={x} y={y}")
x=x+y#30
y=x-y#30-20=10
x=x-y#30-10=20
print(f"x={x} y={y}")

x=10 y=20
x=20 y=10

In [ ]:
x,y=10,20
print(f"x={x} @{id(x)} y={y} @{id(y)}")
x,y=y,x#over the fly
print(f"x={x} @{id(x)} y={y} @{id(y)}")

x=10 @11654664 y=20 @11654984
x=20 @11654984 y=10 @11654664

In [ ]:
#Arithmatic:
+
-
*
/
%(mod): Returns Remainder only on int operation

In [ ]:
//:floor/int division
**:power

In [ ]:
29/10

2.9

In [ ]:
29//10

2

In [ ]:
2**3# 2 to the power of 3

8

In [ ]:
49**0.5

7.0

In [ ]:
#Rule of Precedence
#start with brackets them power then * / // % (left to right) then + -
# ** priority 3
# * / // %    2
#+ -          1
#First solve higher priority then lower. If all are equal go left to right.

In [ ]:
2**3**2

512

In [ ]:
#Short-Hand
#A variation of arithmetic operators used for incrementing, decrementing values because Python does not have ++, --.

In [ ]:
x=10
print(x)
x+=1
#var = var (op) value--> Var (op) = Value
print(x)

10
11

In [ ]:
#Python does not have an increment/decrement operator and uses a shorthand operator. What is your take on this?
x+=k
#k: be any value as per the need, giving better control, better readability.

In [ ]:
'''
Write a program to print the area of a circle.
1.o/p:print area of circle
2.process:3.14*r**2
3.i/p:read r
'''
r=float(input("Enter r:"))
area=3.14*r**2
print(f"Area is {area}")

Enter r:9.2
Area is 265.76959999999997

In [ ]:
#input(): only return the string which needs to be casted to
#int or float as per need.
#int()  float()
#How would you decide between int(natural number) and float(real number)?
#Any kind of measurement, money, currency will always be a float.
#Example:
- Weight
- Height
- Depth
- Length
- Radius
- Diameter
#float
#If confused between int and float, get float because float can store int. int can not store float.

In [ ]:
data=int(input("Enter data:"))
print(f"data is {data}")

Enter data:5.1

ValueError: invalid literal for int() with base 10: '5.1'

In [ ]:
data=float(input("Enter data:"))
print(f"data is {data}")

Enter data:123
data is 123.0

<h2>1Ô∏è‚É£ Smart Kirana Store ‚Äì Bill Calculator</h2>

<p><b>Problem Definition:</b><br>
A customer buys multiple items from a grocery store. You need to calculate the total bill amount including 5% GST.</p>

<p><b>Arithmetic Operators Used:</b> +, *, /</p>

<p><b>Formula:</b><br>
Total = (price1 * qty1) + (price2 * qty2)<br>
GST = Total * 5 / 100<br>
Final Bill = Total + GST
</p>

<p><b>Sample Input:</b><br>
Price of Rice per kg = 60<br>
Quantity of Rice = 5<br>
Price of Sugar per kg = 40<br>
Quantity of Sugar = 3
</p>

<p><b>Sample Output:</b><br>
Total before GST = 420<br>
GST = 21<br>
Final Bill = 441
</p>

<hr>

<h2>2Ô∏è‚É£ Salary Growth Predictor</h2>

<p><b>Problem Definition:</b><br>
An employee receives a 12% annual salary hike. Calculate the new salary after hike.</p>

<p><b>Arithmetic Operators Used:</b> +, *, /</p>

<p><b>Formula:</b><br>
Hike Amount = salary * 12 / 100<br>
New Salary = salary + Hike Amount
</p>

<p><b>Sample Input:</b><br>
Current Salary = 400000
</p>

<p><b>Sample Output:</b><br>
Hike Amount = 48000<br>
New Salary = 448000
</p>

<hr>

<h2>3Ô∏è‚É£ Petrol Expense Tracker</h2>

<p><b>Problem Definition:</b><br>
You are planning a road trip. Calculate total petrol cost based on distance, mileage, and petrol price.</p>

<p><b>Arithmetic Operators Used:</b> /, *, +</p>

<p><b>Formula:</b><br>
Petrol Needed = Distance / Mileage<br>
Total Cost = Petrol Needed * Petrol Price
</p>

<p><b>Sample Input:</b><br>
Distance = 300 km<br>
Mileage = 15 km/litre<br>
Petrol Price = 110 per litre
</p>

<p><b>Sample Output:</b><br>
Petrol Needed = 20 litres<br>
Total Cost = 2200
</p>

<hr>

<h2>4Ô∏è‚É£ Online Shopping Discount Calculator</h2>

<p><b>Problem Definition:</b><br>
An online store gives 20% discount on a product. Calculate final payable amount.</p>

<p><b>Arithmetic Operators Used:</b> -, *, /</p>

<p><b>Formula:</b><br>
Discount = price * 20 / 100<br>
Final Price = price - Discount
</p>

<p><b>Sample Input:</b><br>
Product Price = 2500
</p>

<p><b>Sample Output:</b><br>
Discount = 500<br>
Final Price = 2000
</p>

<hr>

<h2>5Ô∏è‚É£ Student Percentage & Average Calculator</h2>

<p><b>Problem Definition:</b><br>
A student has marks in 5 subjects. Calculate total marks, average, and percentage.</p>

<p><b>Arithmetic Operators Used:</b> +, /, *</p>

<p><b>Formula:</b><br>
Total = m1 + m2 + m3 + m4 + m5<br>
Average = Total / 5<br>
Percentage = (Total / 500) * 100
</p>

<p><b>Sample Input:</b><br>
Marks = 78, 82, 90, 88, 92
</p>

<p><b>Sample Output:</b><br>
Total = 430<br>
Average = 86<br>
Percentage = 86%
</p>

<hr>

In [ ]:
cost_per_kg=float(input("Enter cost per kg:"))
total_kg=float(input("Enter total kg needed:"))
total_amount=cost_per_kg*total_kg
gst=total_amount*0.05
total_amount_with_gst=total_amount+gst
print("-------------------------")
print("------------BILL---------")
print("-------------------------")
print(f"Cost per kg    {cost_per_kg}")
print(f"Total kg taken {total_kg}")
print("-------------------------")
print(f"Total Bill     {total_amount}")
print(f"GST 5%         {gst}")
print("-------------------------")
print(f"Total Amount   {total_amount_with_gst}")

Enter cost per kg:240
Enter total kg needed:5
-------------------------
------------BILL---------
-------------------------
Cost per kg    240.0
Total kg taken 5.0
-------------------------
Total Bill     1200.0
GST 5%         60.0
-------------------------
Total Amount   1260.0

In [ ]:
#What program is made up of?
Any program is made up of three things:
1. Sequence(WHAT FOLLOWS WHAT)
2. Branch(CONDITION)
3. Loop(ITERATIONS)

In [ ]:
CONDITIONAL STATEMENT
1.if
    Only when one condition is there.
    Generally within some kind of loop to act only when conditions are satisfied
2.if else
    Maximum use specially when you have two conditions, very common.
    Generally at the end of the program
3.if elif elif elif....else
    Use two plus condition along with a default exception handling else.
    For multiple choices or range-like results

In [ ]:
if condition:
    #part of if block
    #part of if block
    #part of if block
    #part of if block
#out of if

In [ ]:
no=int(input("Enter a number:"))
if no>0:
    print(f"{no} is +ve")
if no<0:
    print(f"{no} is -ve")

Enter a number:0

In [ ]:
no=int(input("Enter a number:"))
if no>=0:
    print(f"{no} is +ve")
else:
    print(f"{no} is -ve")

Enter a number:0
0 is +ve

In [ ]:
no=int(input("Enter a number:"))
if no>0:
    print(f"{no} is +ve")
elif no<0:
    print(f"{no} is -ve")
else:
    print(f"{no} is ZERO")

Enter a number:0
0 is ZERO

In [ ]:
#Write a program to read the name and age of a person and print whether he or she can vote or not.
name=input("Enter your name:")
age=int(input("Enter age:"))
if age>=18:
    print(f"{name} at age {age} you can vote")
else:
    print(f"{name} at age {age} you can not vote")

Enter your name:chota bheem
Enter age:11
chota bheem at age 11 you can not vote

In [ ]:
#Relational operator < <= > >= != ==:return True/False

#logical operators: to combine two or more conditions for a more complex check
and: to be used when all is needed.
     Only will enter provided each condition is true and stop on first faults.
or: when anyone would do
    Keep searching for first true. If found, will enter straight away without checking anything ahead.

In [ ]:
#A leap year is considered to be a leap year provided it is perfectly divisible by 4 but not by 100 or perfectly divisible by 400.
if (year%4==0 and year%100!=0) or (year%400==0):

In [ ]:
Major use of if-else-if is in the range-based system.
#Reading the percentage print result:
- 60 or greater: first class
- Less than 60 but greater than or equal to 50: second class
- Less than 50 but greater than or equal to 40: third class
- Less than 40: fail
if
elif
elif
else

In [ ]:
# Reading percentage from user
percentage = float(input("Enter your percentage: "))#0
#In an if-else-if ladder at most one block only gets executed.
# Range-based result system
if percentage >= 60:
    print("Result: First Class")

elif percentage >= 50 and percentage < 60:
    print("Result: Second Class")

elif percentage >= 40 and percentage < 50:
    print("Result: Third Class")

else:
    print("Result: Fail")

In [ ]:
#Trio condition only Python valid.   range1<var<range2 or range1>var>range2
# Reading percentage from user
percentage = float(input("Enter your percentage: "))#0
#In an if-else-if ladder at most one block only gets executed.
# Range-based result system
if percentage >= 60:
    print("Result: First Class")

elif 60> percentage >= 50:
    print("Result: Second Class")

elif 50>percentage >= 40:
    print("Result: Third Class")

else:
    print("Result: Fail")

In [ ]:
#In an if-else-if ladder at most one block only gets executed.
# Reading percentage from user
percentage = float(input("Enter your percentage: "))#

# Range-based result system
if percentage >= 60:
    print("Result: First Class")

elif percentage >= 50:
    print("Result: Second Class")

elif percentage >= 40:
    print("Result: Third Class")

else:
    print("Result: Fail")

In [ ]:
#value= true if condition else false

In [ ]:
age=int(input("Enter age:"))
status=True if age>=18 else False
if status==True:
    print(f"At age {age} you can vote")
else:
    print(f"At age {age} you can not vote")

Enter age:66
At age 66 you can vote

In [ ]:
age=int(input("Enter age:"))
response="Can vote" if age>=18 else "can not vote"
print(f"at {age} {response}")

Enter age:44
at 44 Can vote

In [ ]:
age=int(input("Enter age:"))
print("Can vote") if age>=18 else print("can not vote")

Enter age:3
can not vote

In [ ]:
print("Can vote") if int(input("Enter age:"))>=18 else print("can not vote")

Enter age:44
Can vote

In [ ]:
#Using ternary operator check whether the given number is even or odd.
#Read a number; print: is it even or odd?
number=int(input("Enter a number:"))
print(f"{number} is even") if number%2==0 else print(f"{number} is odd")

Enter a number:53
53 is odd

In [ ]:
#For advanced arithmetic we will need to import the math package.
import math
math.XXXX()

In [ ]:
#Find roots of the quadratic equation using the formula.
a,b,c=map(float,input("Enter a,b,c separated via comma").split())
print(a,b,c)
term=(b**2)-(4*a*c)
if term<0:
    print("Imaginary roots.")
else:
    root1= (-b+term**0.5)/(2*a)
    root2= (-b-term**0.5)/(2*a)
    print(root1,root2)

Enter a,b,c separated via comma3 7 1
3.0 7.0 1.0
-0.15287291161696345 -2.18046042171637

<h2>üß† 10 Medium-Level Real-Life Coding Problems</h2>
<hr>

<table border="1" cellpadding="8" cellspacing="0">

<tr>
<th>No</th>
<th>Problem</th>
<th>Definition</th>
<th>Sample Input</th>
<th>Sample Output</th>
</tr>

<tr>
<td>1</td>
<td><b>Electricity Bill (Slab)</b></td>
<td>
First 100 units ‚Çπ5/unit <br>
Next 100 units ‚Çπ7/unit <br>
Above 200 units ‚Çπ10/unit <br>
Calculate total bill.
</td>
<td>Units = 250</td>
<td>
100*5 + 100*7 + 50*10 <br>
Total = ‚Çπ1700
</td>
</tr>

<tr>
<td>2</td>
<td><b>Income Tax Calculator</b></td>
<td>
‚â§ 2,50,000 ‚Üí No tax <br>
2.5L‚Äì5L ‚Üí 5% <br>
5L‚Äì10L ‚Üí 20% <br>
Above 10L ‚Üí 30%
</td>
<td>Income = 6,00,000</td>
<td>Tax = 20% of 6,00,000 = ‚Çπ1,20,000</td>
</tr>

<tr>
<td>3</td>
<td><b>Loan Eligibility</b></td>
<td>
Age between 21‚Äì60 <br>
Salary ‚â• 25,000 <br>
Credit Score ‚â• 700
</td>
<td>
Age = 30 <br>
Salary = 30000 <br>
Credit = 720
</td>
<td>Loan Approved</td>
</tr>

<tr>
<td>4</td>
<td><b>E-Commerce Discount</b></td>
<td>
‚â• 5000 ‚Üí 20% discount <br>
2000‚Äì4999 ‚Üí 10% discount <br>
Premium member ‚Üí Extra 5%
</td>
<td>
Amount = 6000 <br>
Premium = Yes
</td>
<td>
Total Discount = 25% <br>
Final Amount = ‚Çπ4500
</td>
</tr>

<tr>
<td>5</td>
<td><b>Movie Ticket Pricing</b></td>
<td>
Age < 12 ‚Üí ‚Çπ100 <br>
Age 12‚Äì59 ‚Üí ‚Çπ200 <br>
Age ‚â• 60 ‚Üí ‚Çπ150 <br>
Weekend ‚Üí +‚Çπ50
</td>
<td>
Age = 65 <br>
Weekend = Yes
</td>
<td>Ticket Price = ‚Çπ200</td>
</tr>

<tr>
<td>6</td>
<td><b>ATM Withdrawal</b></td>
<td>
Minimum balance ‚Çπ1000 <br>
Maximum ‚Çπ20,000 per day <br>
Amount must be multiple of 100
</td>
<td>
Balance = 15000 <br>
Withdraw = 5000
</td>
<td>Transaction Successful</td>
</tr>

<tr>
<td>7</td>
<td><b>BMI Checker</b></td>
<td>
BMI = weight / (height √ó height) <br>
&lt;18.5 ‚Üí Underweight <br>
18.5‚Äì24.9 ‚Üí Normal <br>
25‚Äì29.9 ‚Üí Overweight <br>
‚â•30 ‚Üí Obese
</td>
<td>
Weight = 70kg <br>
Height = 1.75m
</td>
<td>
BMI = 22.86 <br>
Category = Normal
</td>
</tr>

<tr>
<td>8</td>
<td><b>Scholarship System</b></td>
<td>
Marks ‚â• 90 and Income &lt; 3L ‚Üí 100% <br>
Marks ‚â• 75 and Income &lt; 5L ‚Üí 50% <br>
Else ‚Üí No scholarship
</td>
<td>
Marks = 92 <br>
Income = 2,50,000
</td>
<td>Scholarship = 100%</td>
</tr>

<tr>
<td>9</td>
<td><b>Delivery Charge</b></td>
<td>
Order ‚â• 1000 ‚Üí Free <br>
500‚Äì999 ‚Üí ‚Çπ50 <br>
&lt;500 ‚Üí ‚Çπ100 <br>
Distance &gt; 10km ‚Üí +‚Çπ30
</td>
<td>
Order = 700 <br>
Distance = 15km
</td>
<td>Delivery Charge = ‚Çπ80</td>
</tr>

<tr>
<td>10</td>
<td><b>Employee Bonus</b></td>
<td>
Rating ‚â• 4 and Experience ‚â• 5 yrs ‚Üí 20% <br>
Rating ‚â• 3 ‚Üí 10% <br>
Else ‚Üí No bonus
</td>
<td>
Salary = 50000 <br>
Rating = 4 <br>
Experience = 6
</td>
<td>
Bonus = 20% <br>
Final Salary = ‚Çπ60000
</td>
</tr>

</table>

<hr>